@import url("./Main.css");

.about {
  background-color: var(--light-purple-background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.about-container {
  background-color: var(--light-purple-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
  min-width: 421px;
  gap: 1rem;
  margin: 0 14px;
}

.about .edu-heading {
  font-size: var(--used-heading-font-size);
  line-height: 4rem;
  width: 100%;
  display: ruby;
}

@media (max-width: 723px) {
  .about .edu-heading {
    display: block;
  }
}

.vision-mission {
  background-color: var(--white-background-color);
  padding: 5rem 0;
  display: flex;
  gap: 2rem;
  margin: 0 1rem;
  justify-content: space-evenly;
}

.vision-mission-container {
  height: 100%;
  width: 100%;
  max-width: 630px;
  min-width: 421px;
  padding: 29px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.625rem;
  border-radius: 1rem;
}
.vision-mission-container p {
  color: var(--gray-font-color);
}

.vision-mission-container .lucide {
  height: 42px;
  width: 42px;
  padding: 9px;
  border-radius: 10px;
}
.vision-mission-container h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.core-values {
  padding: 5rem 1rem;
  background-color: var(--lightest-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.core-values-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.values {
  height: 100%;
  width: 100%;
  max-height: 212px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  padding: 21px 21px;
  text-align: center;
  background-color: white;
}
.values-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 21px;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: white;
}
.values h4 {
  font-size: 1.13rem;
  font-weight: 500;
}
.values p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--gray-font-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 5rem;
}

.values .lucide {
  height: 32px;
  width: 32px;
  overflow: visible;
  padding: 5px;
  border-radius: 10px;
  box-sizing: content-box;
}

.journey {
  width: 100vw;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.journey-container span {
  color: var(--text-main-purple);
  padding: 3px 5px;
  font-size: 0.75rem;
  font-weight: 500;
  border: 1.5px solid var(--text-main-purple);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.journey-container li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.journey-container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.journey-container p {
  font-size: 1rem;
  color: var(--gray-font-color);
}

.impact {
  color: white;
  background-color: var(--dark-purple-background);
  padding: 5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.impact .below-heading-small {
  color: white;
}

.impact-text {
  max-width: 786px;
  min-width: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  line-height: 2rem;
}
.impact-text .below-heading-small {
  font-size: 1.125rem;
  font-weight: 400;
}

.accomps-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}
.accomp h2 {
  color: white;
  font-size: 1.875rem;
  font-weight: 400;
}
.accomp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.accomp p {
  color: white;
  font-size: 0.875rem;
  font-weight: 300;
}
