:root {
  --main-font-family: sans-serif;
  --gray-font-color: #717182;
  --white-background-color: #fff;
  --light-purple-background: #eeecf9;
  --dark-purple-background: #3a24ba;
  --text-main-purple: #3e27b8;
  --heading-font-size: clamp(40px, 4.65vw, 4.65vw);
  --used-heading-font-size: clamp(2rem, calc(1.25vw + 1.5rem), 3rem);
  --heading-font-weight: 400;
  --light-dark-purple: #e5e3f3;
  --lightest-purple: #f9f9fa;
  --border-color: #e5e5e5;
  --small-font-size: 0.75rem;
}

.small-heading {
  font-size: 0.75rem;
  font-weight: 400;
}
.main-heading-small {
  font-size: clamp(2rem, 3vw, 2.6rem);
  font-weight: 400;
  line-height: 3.2rem;
}
.below-heading-small {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
  color: var(--gray-font-color);
}
.grey-font-big {
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: var(--gray-font-color);
}
* {
  font-family: var(--main-font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 60px;
}
.logo {
  display: flex;
}

h1 {
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.apply-now {
  background-color: var(--dark-purple-background);
  color: white;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-weight: 500;
}

.explore {
  background-color: white;
  color: black;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-weight: 500;
}

.apply-now:hover,
.explore:hover {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform: scale(1.05);
  font-weight: 500;
}

.star {
  height: 16px;
  width: 16px;
  color: var(--text-main-purple);
}

.hover {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.hover:hover {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform: scale(1.05);
  font-weight: 500;
}

.h2 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.h2p {
  font-size: clamp(1rem, 1vw, 1.25rem);
  text-align: center;
  line-height: 1.4rem;
}
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap-2 {
  display: flex;
  gap: 1rem;
}

.footer-logo {
  background-color: white;
}

.footer .lucide {
  background-color: white;
  height: 16px;
  width: 16px;
}

.accomplishments {
  background-color: var(--lightest-purple);
  max-height: auto;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.lucide {
  background-color: var(--light-dark-purple);
  color: var(--text-main-purple);
  height: 21px;
  width: 21px;
}

.lucide-container {
  height: 42px;
  width: 42px;
  border-radius: 7px;
  background-color: var(--light-dark-purple);
  margin-bottom: 14px;
}

.accomp-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accomp-cont h2 {
  color: var(--text-main-purple);
  font-size: 2rem;
  font-weight: 400;
}

.accomp-cont p {
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  font-weight: 300;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.type {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #193cb8;
  background-color: #dbeafe;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 7px;
  flex-grow: 0;
}

.introduction {
  padding: min(5rem, 15%) 0;
  background-color: var(--light-purple-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.introduction-container {
  width: 100%;
  max-width: 784px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
