@import "./Main.css";
body {
  padding-top: 60px;
}
.latest-news-container {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightest-purple);
}

.latest-news {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 28px 21px 21px 21px;
  max-width: 784px;
  min-width: 300px;
  height: 270px;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  gap: 1.5rem;
}

@media (max-width: 802px) {
  .latest-news {
    flex-direction: column;
    height: auto;
  }

  .image-default {
    width: 100%;
  }
}

.image-container {
  height: 122.48px;
  width: 100%;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  flex: 1;
}
.image-default {
  height: 88px;
  width: 88px;
}

.further-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.further-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.date,
.time,
.where,
.attendies {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-font-color);
}

.session-heading {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.session-info {
  font-size: 0.9rem;
  color: var(--gray-font-color);
  line-height: 1.7;
}

.upcoming-events {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 4rem;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 21px;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  width: clamp(300px, , 490px);
}

.small-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.registration-type-open {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--text-main-purple);
  font-weight: 500;
  padding: 0.3rem 0.7rem;
  border-radius: 7px;
  flex-grow: 0;
}

.heading {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.heading-info {
  font-size: 0.9rem;
  color: var(--gray-font-color);
  line-height: 1.7;
}

.heading-container .heading-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem clamp(1rem, 3vw, 3rem);
  justify-items: start;
  align-items: center;
  color: black;
}

.heading-info .date,
.time,
.where {
  color: black;
}

.heading-container {
  display: grid;
  gap: 5rem;
}

.heading-container .lucide {
  background-color: transparent;
  height: 14px;
  align-self: center;
}

.heading-info span {
  display: flex;
  text-align: center;
}

.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: clamp(1rem, 3vw, 5rem);
}
@media (max-width: 1034px) {
  .events-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.news {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  align-items: center;
  gap: 3rem;
  background-color: var(--lightest-purple);
}

.news-card {
  border: 1px solid var(--border-color);
  border-radius: 14px;
  height: 440px;
  max-width: 350px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.news-card .image {
  height: 220px;
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple-background);
  margin-bottom: 2rem;
}

.news-card-info {
  display: flex;
  flex-direction: column;
  padding: 0px 21px 21px 21px;
  gap: 0.7rem;
}

.card-heading {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

.card-info {
  color: var(--gray-font-color);
  font-size: 0.895rem;
  line-height: 1.4;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: clamp(1rem, 3vw, 3rem);
}
@media (max-width: 1050px) {
  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 706px) {
  .news-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .news-card {
    max-width: 100%;
  }
}
