@import "./Main.css";

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: min(5rem, 15%) 1rem;
  gap: 4rem;
}
.row {
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}
.success-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 849px;
  text-align: center;
  line-height: 2rem;
}
.child-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.child-text p {
  font-size: 0.875rem;
  color: black;
  line-height: 1.75rem;
}
.success-text h2 {
  font-size: var(--used-heading-font-size);
  font-weight: 500;
  line-height: 2.8rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.portfolio {
  height: 100%;
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  max-width: 350px;
  min-width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  gap: 0.7rem;
  padding: 2rem;
  text-align: center;
  line-height: 1rem;
  flex-grow: 1;
}

.cap {
  color: var(--text-main-purple);
  background-color: var(--light-dark-purple);
  height: 4.5rem;
  width: 4.5rem;
  padding: 1rem;
  border-radius: 2.5rem;
}

.name {
  font-size: 1.15rem;
  font-weight: 400;
}
.post {
  font-size: 0.8rem;
  color: var(--text-main-purple);
}

.story-logo {
  height: 0.8rem;
}

.location,
.class {
  font-size: 0.85rem;
  color: var(--gray-font-color);
  font-weight: 400;
}

.degree {
  font-size: 0.85rem;
  font-weight: 400;
}
.degree .story-logo {
  color: var(--text-main-purple);
}

.university {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--text-main-purple);
}

.story {
  height: 100%;
  width: 100%;
  max-width: 849px;
  min-width: 320px;
  border: 1px solid var(--border-color);
  padding: 28px 28px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.quote {
  color: var(--text-main-purple);
  height: 32px;
  width: 32px;
}

.statement {
  font-weight: 400;
  font-size: 1.05rem;
  color: var(--gray-font-color);
  line-height: 1.75rem;
}
.background {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 0.95rem;
}

.achievement {
  font-size: 0.8rem;
  line-height: 1.5rem;
  background-color: var(--light-dark-purple);
  padding: 10px;
  border-radius: 0.5rem;
}
.achievement span {
  color: var(--text-main-purple);
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sarah-ahmad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 1rem;
}
